@import "tailwindcss";

@theme {
  --color-primary: #964326;
  --color-primary-container: #b55b3c;

  --color-secondary: #615e57;
  --color-secondary-container: #F6F3F2;

  --color-background: #fcf9f8;

  --color-surface: #fcf9f8;
  --color-surface-low: #E4E2E1;

  --color-outline: #88726c;

  --color-text-primary: #1b1c1c;
  --color-text-secondary: #55433d;
  --color-text-tertiary: #67645D

  --radius-card: 24px;

  --font-display: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-display);
  background: var(--color-background);
  color: var(--color-text-primary);
}
